@import './variables.scss';

#page {
  display: flex;

  // homepage (no project showing)
  section {
    &#left {
      width: 50%;
      transition: all 100ms ease;

      .container-left {
        width: 420px;
        margin: 130px auto 50px auto;
        transition: all 100ms ease;

        #intro {
          margin: 0 0 50px 15px;
          font-family: serif;
          font-size: $font-22;
          opacity: 0.5;
        }
      }
    }


    &#right {
      width: 50%;
      position: sticky;
      height: fit-content;
      top: 0;
      .container-right {
        overflow: hidden;
        #homeImage {
          width: 95%;
          max-width: 600px;
          margin: 0 20px 0 0;
          float: right;
          cursor: pointer;
        }
      }
    }

  }

  // project
  &.project {
    height: 100vh;
    overflow: hidden;

    section {
      overflow-y: scroll;

      &#left {
        width: 480px;
        .container-left {
          margin: 50px auto 50px auto;
        }
      }

      &#right {
        flex: 1;
        height: auto;
        position: initial;
        border-left: 1px dotted #cdcdcd;

        .container-right {
          overflow: auto;
          flex: 1;
          margin: 50px 50px 0 50px;
        }
      }
    }
  }
}
