@import './variables.scss';

@font-face {
  font-family: 'vcr';
  src: url('../fonts/vcr.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/vcr.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/vcr.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/vcr.svg#vcr') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

header {
  width: calc(100vw - 30px);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 8px 15px 4px 15px;
  font-family: vcr;
  font-size: $font-14;

  a, div { transition: color 200ms; }

  a {
    color: black;
    text-decoration: none;
    &:hover { text-decoration: underline; }
    &:visited { color: black; }
    &.active { text-decoration: underline;}
  }

  // when a project is open
  &.detail {
    a {
      color: #a5a5a5;
      &:hover { color: black; }
    }
    .tagline { display: none; }
  }
}

@media (max-width: 600px) {
  .tagline { display: none; }
}
