#picture {
  width: 95%;
  max-width: 600px;
  margin: 0 20px 0 0;
  float: right;
  cursor: pointer;
  opacity: 0;
  animation-name: example;
  animation-duration: 300ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;

  @keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}
