@import './variables.scss';

#project-wrapper {
  display: flex;
  // main layout (no project showing)
  section {
    &#project-left {
      width: 50%;
      transition: all 100ms ease;

      #project-nav {
        width: 420px;
        margin: 140px auto 50px auto;
        transition: all 100ms ease;
        opacity: 0;
        animation-name: fadeIn;
        animation-duration: 300ms;
        animation-delay: 300ms;
        animation-fill-mode: forwards;

        #intro {
          margin: 0 0 50px 15px;
          font-family: serif;
          font-size: $font-22;
          opacity: 0.5;
        }
      }
    }

    &#project-right {
      width: 50%;
    }
  }

  // project showing
  &.project-active {
    height: 100vh;
    overflow: hidden;

    section {
      overflow-y: scroll;

      &#project-left {
        width: 480px;
        #project-nav {
          margin: 70px auto 50px auto;
          #intro { display: none; }
        }
      }

      &#project-right {
        flex: 1;
        height: auto;

        .container-right {
          flex: 1;
        }
      }
    }
  }
}
