@import './variables.scss';

#project-wrapper {
  display: flex;
  height: fit-content;
  // main layout (no project showing)
  section {
    &#project-left {
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
      position: fixed;
      left: 0;

      #project-nav {
        width: 420px;
        padding: 150px 0 50px 150px;
        opacity: 0;
        animation-name: fadeIn;
        animation-duration: 300ms;
        animation-delay: 300ms;
        animation-fill-mode: forwards;

        #intro {
          margin: 0 0 50px 15px;
          font-family: serif;
          font-size: $font-22;
          opacity: 0.5;
        }
      }
    }

    &#project-right {
      width: 55%;
      height: fit-content;
      position: sticky;
      top: 0;
    }
  }

  // project showing
  &.project-active {
    section {
      &#project-left {
        width: 45%
      }

      &#project-right {
        height: 100vh;
        overflow-y: scroll;
        position: fixed;
        right: 0;

        .container-right {
          flex: 1;
        }
      }
    }
  }
}
