@import './variables.scss';

#projectContent {
  padding: 50px 50px 0 50px;
  border-left: 1px dotted #cdcdcd;
  opacity: 0;
  animation-name: example;
  animation-duration: 300ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;

  h1 {
    font-family: sans-serif;
  }

  p {
    line-height: 150%;
    font-size: $font-18;
    &.text-block { max-width: 850px; }
  }

  img {
    max-width: 100%;
    margin: 30px 0;
  }

  span {
    font-size: 14px;
    font-style: italic;
  }

  #dispose, #wiki-kids {
    img { margin: 50px 0; }
    video {
      width: 100%;
      min-width: 300px;
      border: 1px solid lightgray;
    }
  }

  #wiki-kids {
    #intro {
      max-width: 850px;
      margin: 30px 0;
    }
    .flex {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 50px 0;
      .left { margin-right: 50px; }
      p { margin-bottom: 10px; }
    }
  }

  #cooking-timers {
    img { border: 1px solid lightgray; }
  }
}
