$font-22: 22px;
$font-18: 18px;
$font-17: 17px;
$font-14: 14px;

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slideDown {
  from {transform: translateY(-100%);}
  to {transform: translateY(0);}
}
